<html>
  <% include partials/header %>
    <p>
        Bid description can go here
    </p>

    <h1>Time left</h1>
    <h2>Highest Bid (Or some other relevant info depending on auction type</h2>
    <p> Place Bid:
    <input class="form-control" type="number" min="1" placeholder="">
    </p>
</html>
