<!DOCTYPE html>
<html lang="en">
  <% include partials/header %>
  <body>
    <% include partials/carousel %>
    <% include partials/bootstrap %>
    <script src="js/my.js"></script>
  </body>
</html>
