<!DOCTYPE html>
<html>
<% include partials/header %>
</html>
<h1>Here we will have a notifications bar for ongoing and new bid notifications</h1>
<br>
<h2>This will be profile picture</h2>
<script src="https://www.goodreads.com/group/widget/703139?cover_size=&num_books=&order=&shelf=&sort=&widget_id=1533071842" type="text/javascript" charset="utf-8"></script>
<br>
<h3>Carousel of your current bids</h3>
<br>
<h4>Subscribed creator news</h4>