<!DOCTYPE html>
<html>
  <% include partials/header %>
  <div class="container">
    <script src="js/filledout.js"></script>
    <p id="filledout"></p>
    <form action="/" method="post" onsubmit="return filledout()" class="form">
      <div class="form-group">
        <label for="userStatus">Please select one of the following: </label><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="radio" name="userStatus" id="cCreator" value="true"> Content Creator
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="userStatus" id="cAbsorber" value="false"> Content Absorber
          </label>
        </div><br><br>

        <label for="first">First Name: </label>
        <input id="first" type="text" class="form-control" name="firstName" placeholder="First Name"><br>

        <label for="email">Last Name: </label>
        <input id="last" type="text" class="form-control" name="lastName" placeholder="Last Name"><br>

        <label for="email">Email Address: </label>
        <input id="email" type="text" class="form-control" name="email" placeholder="E-mail"><br>

        <label for="username">Username: </label>
        <input id="username" type="text" class="form-control" name="username" placeholder="Username"><br>

        <label for="password">Password: </label>
        <input id="password" type="password" class="form-control" name="password" placeholder="Password"><br>

        <label for="cpassword">Confirm Password: </label>
        <input id="cpassword" type="password" class="form-control" name="passwordConfirm" placeholder="Confirm Password"><br>

        <button type="submit" class="btn btn-success">Register</button>
      </div>
    </form>
  </div>
</html>
