<html>
    <form action="/FormHandler">
        <input type="radio" name="use" value="Content Creator"> Content Creator <br>
        <input type="radio" name="use" value="Content Absorber"> Content Absorber<br>
        First Name:
        <input type="text"> <br>
        Last Name:
        <input type="text"> <br>
        Email Address:
        <input type="text"> <br>
        Password:
        <input type="text"> <br>
        Confirm Password:
        <input type="text"> <br>
        
        <input type="submit">

    </form>
</html>