<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include partials/header %>
  <div class="form-group">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="radio" name="searchCategory" id="Trending" required> Content Creator
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="searchCategory" id="Popular"> Content Absorber
          </label>
          <label class="btn btn-secondary">
                <input type="radio" name="searchCategory" id="Recommended" > Content Absorber
          </label>
          <label class="btn btn-secondary">
                <input type="radio" name="searchCategory" id="Subscribed"> Content Absorber
          </label>
        </div>
  <ul>
    <% if(person==null) { %>
      <li>
          No person found
      </li>
      <% for(creator in creators) { %>
         <li>
            <%- creators[creator].firstName + " " + creators[creator].lastName%>
         </li>
      <%} %>
  <% } else { %>
      <li>
        <%- person %>
      </li>
  <% } %>
  
  </ul>
  
  </html>