<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include partials/header %>
  <ul>
    <% for(creator in creators) { %>
        <li>
            <%- creators[creator].firstName + " " + creators[creator].lastName%>
        </li>
    <%} %>
  
  </ul>
  
  </html>