<!DOCTYPE html>
<html>
  <% include partials/header %>
  <div class="container">
    <form action="/bidwar" method="post" class="form">
      <div class="form-group">
        <label for="bidType">Please select one of the following: </label><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="radio" name="bidType" id="British"> British Auction
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="bidType" id="Dutch"> Dutch Auction
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="bidType" id="Blind"> Blind Auction
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="bidType" id="Michael"> Michael Auction
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="bidType" id="Arpad"> Arpad Auction
          </label>
        </div><br><br>

        <label for="description">Auction Description: </label>
        <textarea class="form-control" rows="5" id="description" placeholder="Description"></textarea>

        <label for="time">Time Limit (Hours): </label>
        <input class="form-control" id="last" type="number" min="1" max="144" placeholder="Time"><br>

        <button type="submit" class="btn btn-success">Start Auction</button>
      </div>
    </form>
  </div>
</html>
